.keypad-container {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keypad-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    &:hover {
        background-color: #313131;
    }
}